
/*My styles*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, .App {
  background-color: black;
}

.films-list-img img{
  background-color: #1a1a1a;
  width: 100%;
}
.films-list {
  width: 65%;
}
.carousel-item-padding {
  padding: 10px;
}

.rating {
  display: flex;
}

.rating img {
  max-width: 16px;
  max-height: 16px;
}
.vote_average {
  padding-top: 2px;
  padding-left: 5px;
}
.film-title {
  padding-top: 10px;
  height: 70px;
}

.film-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add-to-watchlist-btn {
  border: none;
  width: 100%;
  padding: 7px 0;
  border-radius: 5px;
}

.add-to-watchlist-btn, 
.add-to-watchlist-btn:active, 
.add-to-watchlist-btn:focus {
    outline: none;
}

.add-to-watchlist-btn:hover {
  background-color: #3b3b3b;
}

.films-list-img {
  background-color: #1a1a1a;
  color: white;
  text-align: left;
  border-radius: 5px 5px;
}

.bottom-content-wrapper {
  padding: 0px 5px 15px 5px;
  height: 200px;
}

.add-to-watchlist-btn {
  color: #4da6ff;
  font-weight: 600;
  background-color: #2e2e2e;
}
.wrapper{
  display:flex;
  flex-direction: column;
  max-width: 100wh;
  align-items: center;
}
.wrapperStyle{
  padding:1%;
  background-color: #1a1a1a;
  color:white;
  font-size: larger;
  
}

#photoVideo{
  border: solid black;
  padding:auto;
  width: 70%;
}


.additional-info {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.additional-info .play-button {
  width: 16px;
  height: 16px;
}

.additional-info .info-button {
  width: 25px;
  height: 25px;
}

.trailer {
  color: white;
}
