
body {
    background-color: black;
}
.main-modal .modal-content {
    background-color: #2e2e2e;
    color: white;
}

.poster-img-modal {
    width: 100%;
}

.poster-img-main {
    width: 100%;
    position: relative;
}

.poster-img-main img {
    width: 100%;
}

.main-carousel-wrapper {
   width: 100%;
}

.main-carousel-img {
    display: flex;
    justify-content: center;
}

.main-carousel-wrapper {
    align-items: center;
}
h2 {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
}

h2 span {
    color: #fff;
    font-size: 30px;
    line-height: 55px;
    background: rgba(0, 0, 0, 0.7);
    background: #000;
    opacity: 0.6;
    padding: 10px;
}
.head-text {
    color: #f5c518;
    font-size: 45px;
    padding-left: 10px;
    padding-top: 5%;
}

.rounded-img {
    border-radius: 10%;
}

.star-name-carousel {
    display: flex;
    justify-content: center;
    font-size: 4%;
}

.yellow-text {
    color: #f5c518;
}

.bg-dark {
    color:  black;
}

footer {
    margin-top: 5%;
}

.watchlist-num {
    background-color:  #f5c518;
}