
body {
    background-color: black;
}
.main-modal .modal-content {
    background-color: #2e2e2e;
    color: white;
}

.poster-img-modal {
    width: 100%;
}

.poster-img-main {
    width: 100%;
    position: relative;
}

.poster-img-main img {
    width: 100%;
}

.main-carousel-wrapper {
   width: 100%;
}

.main-carousel-img {
    display: flex;
    justify-content: center;
}

.main-carousel-wrapper {
    align-items: center;
}
h2 {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
}

h2 span {
    color: #fff;
    font-size: 30px;
    line-height: 55px;
    background: rgba(0, 0, 0, 0.7);
    background: #000;
    opacity: 0.6;
    padding: 10px;
}
.head-text {
    color: #f5c518;
    font-size: 45px;
    padding-left: 10px;
    padding-top: 5%;
}

.rounded-img {
    border-radius: 10%;
}


.yellow-text {
    color: #f5c518;
}

.bg-dark {
    color:  black;
}

footer {
    margin-top: 5%;
}

.nav-link {
    width: 7.5em;
    text-decoration: none;
}

.wl {
    display: flex;
}

.watchlist-num {
    background-color: #f5c518;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 30px;
    padding: 3px 6px;
    border-radius: 50%;
    color: black;
    margin-left: 7px;
}

.star-name-carousel {
    justify-content: center;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    background: #000;
    opacity: 0.6;
    width: calc(100% - 20px);
    margin-left: 10px;

}

.star-name-carousel div {
    color: #fff;
    font-size: 20px;
    line-height: 55px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.img-watchlist {
    width: 70%;
}

.row-bottom-padding {
    padding-bottom: 4%;
}