
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.films-list-img img{
  background-color: #1a1a1a;
  width: 100%;
}
.films-list {
  width: 30%;
}
.carousel-item-padding {
  padding: 10px;
}
