
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.films-list-img img{
  background-color: #1a1a1a;
  width: 100%;
  height: 279px;
}
.films-list {
  width: 65%;
}
.carousel-item-padding {
  padding: 10px;
}

.rating {
  display: flex;
}

.rating img {
  max-width: 16px;
  max-height: 16px;
}
.vote_average {
  padding-top: 2px;
  padding-left: 5px;
}
.film-title {
  padding-top: 10px;
  height: 70px;
}
.film-title:hover {
  color: purple;
}
.add-to-watchlist-btn {
  border: none;
  width: 100%;
  padding: 7px 0;
  border-radius: 5px;
}

.add-to-watchlist-btn, 
.add-to-watchlist-btn:active, 
.add-to-watchlist-btn:focus {
    outline: none;
}

.add-to-watchlist-btn:hover {
  background-color: #3b3b3b;
}
