
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.films-list-img img{
  background-color: #1a1a1a;
  width: 100%;
}
.films-list {
  width: 35%;
}
.carousel-item-padding {
  padding: 10px;
}

.rating {
  display: flex;
}
.rating img {
  max-width: 16px;
  max-height: 16px;
}
.vote_average {
  padding-top: 2px;
  padding-left: 5px;
}
.film-title {
  padding-top: 10px;
}